@model Military

<div class='card m-2 p-1 col-4'>
    <img src="~/Images/@Model.Image"
         alt='NoImage'
         class="card-img" />
    <div class="card-body">
        <h5 class="card-title">
            @Model.MilitaryName
        </h5>
        <p class="card-text">
            @Model.Description
        </p>
        <div class="card-subtitle badge">
            <h4> @Model.Force пунктов</h4>
        </div>
        <!--Разметка кнопки добавления в корзину-->
        <a asp-action="Add"
           asp-controller="Cart"
           asp-route-id="@Model.MilitaryId"
           asp-route-returnUrl="@ViewContext.HttpContext.Request.Path"
           class="btn btn-primary">
            <i class="fa fa-shopping-cart"></i> В корзину
        </a>
    </div>
</div>
